version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: expense-backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/expense_tracker
      - JWT_SECRET=super_secret_change_me
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: expense-frontend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
